language: node_js
node_js:
  - 13

services:
  - docker

# Pre-testing installs
install:
  - echo "nothing needs to be installed"

script:
  - docker --version # print the version for logging
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed chiagoziem/udagram-api-feed:v2a
  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user chiagoziem/udagram-api-user:v2a
  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend chiagoziem/udagram-frontend:v2a
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy
  - docker tag udagram-reverseproxy chiagoziem/udagram-reverseproxy:v2b

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push chiagoziem/udagram-api-feed:v2a
  - docker push chiagoziem/udagram-api-user:v2a
  - docker push chiagoziem/udagram-frontend:v2a
  - docker push chiagoziem/udagram-reverseproxy:v2b
